body {
    font-size: 20px;
    font-family: "Playwrite ID", cursive;
    font-weight: light;
}

.one {
    text-align: center;
    background-color: purple;
    color: rgba(10, 230, 65, 0.705);
    font-size: 35px;
}

.five {
    text-align: center;
    background-color: rgba(221, 80, 160, 0.421);
    color: rgba(108, 12, 43, 0.705);
    font-size: 35px;
}

.two {
    text-align: center;
    background-color: rgb(158, 21, 21);
    color: rgba(0, 0, 0, 0.705);
    font-size: 35px;
}

.three {
    text-align: center;
    background-color: rgb(23, 54, 165);
    color: rgb(243, 245, 245);
    font-size: 35px;
}

.four {
    text-align: center;
    background-color: rgba(156, 147, 15, 0.519);
    color: rgba(77, 11, 73, 0.458);
    font-size: 35px;
}

.box {
    font-family: times new roman, serif, sans-serif;
    width: 400px;
    border: solid purple 10px;
    padding: 30px;
}

.a {

    font-family: times new roman, serif, sans-serif;
}

.b {
    padding-right: 900px;
    font-family: times new roman, serif, sans-serif;
}

.c {
    font-family: "Times New Roman", serif, sans-serif;
    color: white;
    background-color: black;
    padding-left: 40px;
}

.d {
    font-family: times new roman, serif, sans-serif;
    color: white;
    background-color: black;
    padding-left: 40px;
}

.e {
    font-family: times new roman, serif, sans-serif;
    color: white;
    background-color: black;
    padding-left: 40px;
}

.f {
    font-family: times new roman, serif, sans-serif;
    color: white;
    background-color: black;
    padding-left: 40px;
}

.g {
    font-family: times new roman, serif, sans-serif;
    color: white;
    background-color: black;
    padding-left: 40px;
}

.h {
    background-color: black;
    border-top: solid purple 10px;
    border-bottom: solid red 10px;
    border-left: solid rgb(233, 120, 222) 10px;
    border-right: dotted yellow 10px;
    height: 250px;
    width: 250px;
}

.redbox {
    display: inline-block;
    background-color: red;
    width: 100px;
    height: 100px;
}

.blackbox {
    display: inline-block;
    background-color: black;
    width: 100px;
    height: 100px;
}

.yellowbox {
    display: inline-block;
    background-color: yellow;
    width: 100px;
    height: 100px;

}

.i {
    display: inline-block;
    background-color: orange;
    width: 100px;
    height: 100px;
}

.j {
    display: inline-block;
    background-color: green;
    width: 100px;
    height: 100px;
}

.k {
    display: inline-block;
    background-color: blue;
    width: 100px;
    height: 100px;
}

.l {
    display: inline-block;
    background-color: purple;
    width: 100px;
    height: 100px;
}

.m {
    display: inline-block;
    background-color: pink;
    width: 100px;
    height: 100px;
}

.n {
    display: inline-block;
    background-color: brown;
    width: 100px;
    height: 100px;
}

.o {
    display: inline-block;
    background-color: grey;
    width: 100px;
    height: 100px;
}

.p {
    display: inline-block;
    background-color: rgb(14, 163, 158);
    width: 100px;
    height: 100px;
}

.q {
    display: inline-block;
    background-color: rgb(0, 255, 255);
    width: 100px;
    height: 100px;
}

.r {
    display: inline-block;
    background-color: rgb(255, 0, 255);
    width: 100px;
    height: 100px;
}

.cardone {
    font-family: times new roman, serif, sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 275px;
    padding: 20px;
    border-radius: 20px;
}
.card{
    font-family: times new roman, serif, sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 250px;
    padding: 30px;
    border-radius: 2px;
}
.btn{
    background-color: transparent;
    color: white;
    padding: 10px; 
    border: none;
    border: 5px solid rgba(98, 199, 21, 0.699);
}
.btn:hover{
    background-color: rgba(98, 199, 21, 0.699);
    color: black;
}